<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale =1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="./landing.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script>
  $("#reg").click(function(){
    $("#myModal").modal({backdrop: "static"});
  
});
  </script>
	
</head>
<body>
    <!--------------------------- navbar --------------------->

    <nav class="navbar fixed-top navbar-expand-lg navbar-light navbar_shadow">
        <a class="navbar-brand" href="#">
            <img src="images/undraw_files1_9ool.png" width="30" height="30" alt="" loading="lazy">
        </a>
        <a class="navbar-brand" href="#">ERP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#event-block">Events</a>
      </li>
      
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0"> -->
        <button class="btn btn-outline-info my-2 my-sm-0 mr-sm-2" type="submit" data-toggle="modal" data-target="#myModal1"> Login</button>
		<div class="modal" id="myModal1" data-keyboard="false" data-backdrop="static" tabindex="-1" style="margin-top:230px; ">
    <div class="modal-dialog" style="text-align:center;">
      <div class="modal-content" style=" height:200px;">
      
        <!-- Modal Header -->
        <div class="modal-header text-center d-block" style=" border-bottom:none;">
		  <button type="button" class="close" data-dismiss="modal">&times;</button><br>
         <h2> Login as </h2>
        
        </div>
        
        
        
        <!-- Modal footer -->
        <div class="modal-footer text-center d-block" style="border-top: 1px solid white;">
        <a href="login.html">  <button type="button" class="btn btn-info" >Student</button></a>
		 <a href="loginFac.html"> <button type="button" class="btn btn-danger" data-dismiss="modal">Faculty</button></a>
        </div>
        
      </div>
    </div>
  </div>
        <button class="btn btn-info my-2 my-sm-0 mr-sm-2" type="submit" id="reg" data-toggle="modal" data-target="#myModal">Register</button>
	<div class="modal" id="myModal" data-keyboard="false" data-backdrop="static" tabindex="-1" style="margin-top:230px; ">
    <div class="modal-dialog" style="text-align:center;">
      <div class="modal-content" style=" height:200px;">
      
        <!-- Modal Header -->
        <div class="modal-header text-center d-block" style=" border-bottom:none;">
		  <button type="button" class="close" data-dismiss="modal">&times;</button><br>
         <h2> Register as </h2>
        
        </div>
        
        
        
        <!-- Modal footer -->
        <div class="modal-footer text-center d-block" style="border-top: 1px solid white;">
        <a href="signupStudent.html">  <button type="button" class="btn btn-info" >Student</button></a>
		 <a href="signupFaculty.html"> <button type="button" class="btn btn-danger" data-dismiss="modal">Faculty</button></a>
        </div>
        
      </div>
    </div>
  </div>


    <!-- </form> -->
  </div>
</nav>
<br><br>

    <!--------------------------- main --------------------->


<div>
    <div class="">
        <div class="row">
            <div class="col-md-4 col-xs-12 my-col">
                <h1 class="erp">ERP System for College Management</h1>
                <p class="p1"><i>-Redefining the management system</i></p> <br>
                <!-- <button type="button" class="btn btn-light">Light</button> -->
               <button class="btn btn-danger my-btn btnm"  type="submit" data-toggle="modal" data-target="#myModal1" >Login</button>
			   <div class="modal" id="myModal1" data-keyboard="false" data-backdrop="static" tabindex="-1" style="margin-top:230px; ">
    <div class="modal-dialog" style="text-align:center;">
      <div class="modal-content" style=" height:200px;">
      
        <!-- Modal Header -->
        <div class="modal-header text-center d-block" style=" border-bottom:none;">
		  <button type="button" class="close" data-dismiss="modal">&times;</button><br>
         <h2> Login as </h2>
        
        </div>
        
        
        
        <!-- Modal footer -->
        <div class="modal-footer text-center d-block" style="border-top: 1px solid white;">
        <a href="login.html">  <button type="button" class="btn btn-info" >Student</button></a>
		 <a href="loginFac.html"> <button type="button" class="btn btn-danger" data-dismiss="modal">Faculty</button></a>
        </div>
        
      </div>
    </div>
  </div>
              <button class="btn btn-light my-btn btnm"  data-toggle="modal" data-target="#myModal" type="submit" >Register</button>
			  <div class="modal" id="myModal" data-keyboard="false" data-backdrop="static" tabindex="-1" style="margin-top:230px; ">
    <div class="modal-dialog" style="text-align:center;">
      <div class="modal-content" style=" height:200px;">
      
        <!-- Modal Header -->
        <div class="modal-header text-center d-block" style=" border-bottom:none;">
		  <button type="button" class="close" data-dismiss="modal">&times;</button><br>
         <h2> Register as </h2>
        
        </div>
        
        
        
        <!-- Modal footer -->
        <div class="modal-footer text-center d-block" style="border-top: 1px solid white;">
        <a href="signupStudent.html">  <button type="button" class="btn btn-info" >Student</button></a>
		 <a href="signupFaculty.html"> <button type="button" class="btn btn-danger" data-dismiss="modal">Faculty</button></a>
        </div>
        
      </div>
    </div>
  </div>

            </div>
            <div class="col-md-8 col-xs-12">
                <img src="./images/undraw_real-time_sync_o57k.png" alt="" height="700" width="">
            </div>
        </div>
    </div>
</div>
<br> <br>


    <!--------------------------- events --------------------->


<div class="container" id="event-block">
        <h1 style="text-align: center;">Events</h1>

<div class="row">

<div class="containerr box col-md-3 col-xs-12">
    <img src="./images/Soccer-bro.png" class="card-img-top" alt="Avatar" class="image" height="200"  >
    <div class="card-body">
        <h5 class="card-title" style="color: black;"><b> Sports Day </b></h5>
        <p class="card-text"><small class="text-muted">Date of event: June 22, 2020</small></p>
    </div>
    <div class="overlay">
      <div class="text" >
      <b> Sports Day </b> <br>
        <p style="font-size: 12px;">Career Counselling Program with a dedicated coach for advice & support for decisions related to career shift, what after 12th std or choosing the right career.
           <br><br> Deadline of registration : 1 week before the date of event</p>
        <b>Register</b>
      </div>
    </div>
  </div>

  <div class="containerr box col-md-3 col-xs-12">
    <img src="./images/undraw_Firmware_jw6u.png" class="card-img-top" alt="Avatar" class="image" height="200">
    <div class="card-body">
        <h5 class="card-title" style="color: black;"><b> Technical Fest </b></h5>
        <p class="card-text"><small class="text-muted">Date of event: June 24, 2020</small></p>
    </div>
    <div class="overlay">
      <div class="text" >
       <b>Technical Fest</b> <br>
        <p style="font-size: 12px;">Complete online counselling program including a dedicated coach to help you boost your self confidence for public speaking, job interviews, presentation skills, etc.
           <br><br> Deadline of registration : 1 week before the date of event</p>
        Explore
      </div>
    </div>
  </div>

  <div class="containerr box col-md-3 col-xs-12">
    <img src="./images/Inbox cleanup-rafik.png" class="card-img-top" alt="Avatar" class="image" height="200">
    <div class="card-body">
        <h5 class="card-title" style="color: black;"><b> Bharat Swachchta Abhiyan </b></h5>
        <p class="card-text"><small class="text-muted">Date of event: June 24, 2020</small></p>
    </div>
    <div class="overlay">
      <div class="text" >
        Bharat Swachchta Abhiyan <br>
        <p style="font-size: 12px;">Customised program with a dedicated coach to help you with all premarital issues. Program includes chat & voice call sessions with licensed therapist.
           <br><br> Deadline of registration : 1 week before the date of event</p>
        Explore
      </div>
    </div>
  </div>

  <div class="containerr box col-md-3 col-xs-12">
    <img src="./images/undraw_environment_iaus.png" class="card-img-top" alt="Avatar" class="image" height="200">
    <div class="card-body">
        <h5 class="card-title" style="color: black;"><b> Plant Trees(NSS) </b></h5> 
        <p class="card-text"><small class="text-muted">Date of event: June 25, 2020</small></p>
    </div>
    <div class="overlay">
      <div class="text" >
     <b>   Plant Trees(NSS) </b><br> 
        <p style="font-size: 12px;">Couples therapy program with a dedicated licensed therapist to help married couples or individuals with postmarital problems & tips to lead a happy marriage life.
           <br><br> Deadline of registration : 1 week before the date of event</p>
        Explore
      </div>
    </div>
  </div>

  <div class="containerr box col-md-3 col-xs-12">
    <img src="./images/Mental health-amico.png" class="card-img-top" alt="Avatar" class="image" height="200">
    <div class="card-body">
        <h5 class="card-title" style="color: black;"><b> Cognitive Quest </b></h5>
        <p class="card-text"><small class="text-muted">Date of event: June 26, 2020</small></p>
    </div>
    <div class="overlay">
      <div class="text" >
       <b>Cognitive Quest </b> <br>
        <p style="font-size: 12px;">Personalised Grief counselling program with a dedicated coach for helping you cope with loss of someone which includes interactive sessions with therapist.
           <br><br> Deadline of registration : 1 week before the date of event</p>
        Explore
      </div>
    </div>
  </div>
  
  <!-- <div class="containerr col-md-3 col-xs-12" style="  margin-top: 10vh; margin-left: 5vw;">
    <img src="./images/undraw_powerful_26ry.png" class="card-img-top" alt="Avatar" class="image" height="100%" width="100%">
 </div> -->
</div>
<br> <br>
</div>




<!------------------------ footer ------------------->

<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>1010 Avenue, sw 54321, New Delhi</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>9999999999</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>mail@info.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html"><img src="" class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="footer-text">
                            <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing
                            elit,Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <!-- <li><a href="#">about</a></li> -->
                            <!-- <li><a href="#">services</a></li> -->
                            <!-- <li><a href="#">portfolio</a></li> -->
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Events</a></li>
                            <!-- <li><a href="#">Contact</a></li> -->
                            <!-- <li><a href="#">Expert Team</a></li> -->
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Register</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subscribe</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Email Address">
                                <button><i class="fab fa-telegram-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2020, All Right Reserved <a href="">ERP</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


</body>
</html>