#content {
    padding: 20px;
    height: 100vh;
    transition: all 0.3s;
	width:100%;
}

#main {
    margin: auto;
    width: 700px;

}

/*td {
    text-align: center;
    vertical-align: middle;
  }
*/


.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}