body{
  background-color: white !important;
  /* margin-left: 10rem; */
  overflow: auto;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html{
  overflow-x: hidden;
}

/* ---------------------navbar----------------- */
  .navbar_shadow{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
    background: white;
    position: fixed;
}
.buttons{
  margin-left: %;
}

/* ---------------------main----------------- */
.my-col{
  background-color: rgb(13, 148, 148);
}

.erp{
  font-size: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: whitesmoke;
  padding: 10%;
  padding-top: 20%;
  line-height: 140%;
}
.p1{
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* color: whitesmoke; */
  /* padding: 8%; */
  width: 120%;
  padding-left: 20%;
  background-color: white;
  line-height: 200%;
}

.btnm{
  width: 18rem;
  height: 3rem;
  font-size: 1.5rem;
  margin: 2%;
  margin-left: 13%;
  /* margin-top: 0%; */
}
  /* ---------------------events------------------ */

.containerr {
    position: relative;
    /* width: 25%; */
    /* margin: 20px; */
    height: 5rem%;
}
  
  .image {
    display: block;
    width: 100%;
    height: 25%;
  }
  .box{
    box-shadow: 0 4px 11px 0 #D6D3EA!important;
      /* box-shadow: 1px 1px 10px 3px rgb(206, 180, 180); */
      width: 90%;
      padding: 1%;
      margin-top: 10vh;
      margin-left: 5vw;
      cursor: pointer;
      background-color: white;
      border-radius: 12px;
    }
    
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(68, 199, 199);
    overflow: hidden;
    width: 100%;
    height: 0;
    border-radius: 12px;
    transition: .5s ease;
  }
  
  .containerr:hover .overlay {
    height: 100%;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 40%;
    /* right: -3%; */
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* text-align: center; */
  }
  

  /* ---------------------footer------------------ */


  ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: rgb(19, 114, 114);
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #f5f4f4;
}
.single-cta i {
  color: #dc3545;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #ece7e7;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #f3efef;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #dc3545;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #dc3545;
}
.footer-widget ul li a {
  color: #e0d5d5;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: rgb(247, 245, 245);
  border: 1px solid rgb(247, 245, 245);
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #dc3545;
    padding: 13px 20px;
    border: 5px solid #dc3545;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #faf9f9;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #dc3545;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #dc3545;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
.modal-backdrop {
    display:none;
}
.no-border{
  border:none;
}
.modal-content{
	height:110%;
}

.modal-header {
    border-bottom: 0 none;
}
 
.modal-dialog
{
  text-align: center-justify;
  align:center;
margin-top:center;  
            vertical-align: middle; 
}


.modal-footer {
    border-top: 0 none;
	border-top: 1px solid white;
}
.modal-header
{
	border-bottom:none;
	
border-bottom:none;
    border-bottom-width: none;
    border-bottom-style:none;
    border-bottom-color: none;
}
body.modal-open .row{
    -webkit-filter: blur(3.5px);
    -moz-filter: blur(3.5px);
    -o-filter: blur(3.5px);
    -ms-filter: blur(3.5px);
    filter: blur(3.5px);
}
